.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: clamp(32px, 6vmax, 72px);
    color: white;
}
/* .title::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: red;
} */

.description {
    margin: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    color: white;
}

.button__container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    margin-right: 0.5rem;
    padding: 0.32rem 1rem;
    color: white;
    background-color: #353434;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    opacity: 0.75;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: left;
}
.heroImg {
    border-radius: 50%;
    width: 3rem;
    border: 2px solid blue;
}
.icons {
    padding: 0 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

@media (min-width: 1200px) {
    .button {
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem;
        text-align: left;
    }
}
