.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.header > h1 {
    display: inline;
    margin-left: 1rem;
}

.fa-arrow-left {
    font-size: 2rem;
}

.content {
    width: 70%;
    align-self: center;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactLink {
    text-decoration: underline;
    color: purple;
}

@media (min-width: 1500px) {
    .content {
        width: 30%;
        margin-top: 1.5rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0.6rem 1rem;
    }
    .header > h1 {
        font-size: 1.2rem;
        margin-left: 0.7rem;
    }
    .header > svg {
        font-size: 0.7rem;
    }
}
