.container {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 1rem 3rem;
    top: 0;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}
.header > h1 {
    display: inline;
    margin-left: 1rem;
}

.fa-arrow-left {
    font-size: 2rem;
}

.content {
    margin-top: 7rem;
    width: 70%;
    align-self: center;
    display: grid;
    height: 900px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactLink {
    text-decoration: underline;
    color: purple;
}

@media (min-width: 1500px) {
    .content {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 1rem rem;
        justify-content: unset;
    }
    .content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        min-height: 1500px;
        padding: 0 1.2rem;
    }
}
